* {
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvatica, Arial, sans-serif;

    margin: 0;
    padding: 0;
}

body {
    width: 85%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    body {
        width: 90%;
    }
}

@media only screen and (min-width: 900px) {
    body {
        width: 700px;
    }
}

h1 {
    font-size: 21px;
    margin-top: 4vh;
}

h2 {
    font-size: 17px;
}

ul {
    margin-left: 1em;
}

li {
    margin-left: 4em;
}

strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

/*************************/

.container {
    margin: auto;
    width: 100%;
    display: flex;
    margin-bottom: 1em;
}

.left {
    margin-left: 0;
    margin-right: 1em;
}

.middle {
    margin-right: auto;
}

.right {
    margin-left: auto;
    text-align: right;
    min-width: 10em;
}

/*************************/

#lang-selector {
    position: absolute;
    top: 10px;
    right: 10px;
}

.top {
    text-align: center;
}

.objective {
    margin-top: 5vh;
}

.education {

}

.experience {

}

.skills {

}

.interests {

}